<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button color="primary" class="ion-color-primary ">
      </ion-back-button>
    </ion-buttons>
    <ion-title  style="color: white">English Alphabet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 98%; background-color: #dddedc45;">
    <ion-slides style="margin-top: 1%; height: 95%" #mySlider pager="false">
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post.png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(1).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(2).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(3).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(4).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(5).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(6).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(7).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(8).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(9).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(10).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(11).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(12).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(13).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(14).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(15).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(16).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(17).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(18).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(19).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(20).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(21).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(22).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(23).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(24).png">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/English%20letters/My%20Post(25).png">
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>
<ion-footer style="background-color: #083e58d6">
  <ion-row>
    <ion-col>
      <ion-button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</ion-button>
    </ion-col>
    <ion-col style="text-align: end">
      <ion-button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()">Next</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
