<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button color="primary" class="ion-color-primary ">
      </ion-back-button>
    </ion-buttons>
    <ion-title  style="color: white">පොඩ්ඩො හපන්නු කරමු  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [style.background-color]="bgcolor">
  <div style="background-color: #2f2d2d;">
    <ion-row>
      <ion-col size="6">
        <ion-button fill="clear" routerLink="/sinhala-akuru-liyamu" class="button-solid" style="background-color: #174c4f">
         <div style="width: 100%" class="main-text"> සිංහල</div><br/>
         <div style="width: 100%" class="sub-text"> හෝඩිය</div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button fill="clear" routerLink="/english-akuru-liyamu" class="button-solid" style="background-color: #EA1889">
          <div style="width: 100%" class="main-text"> English</div><br/>
          <div style="width: 100%" class="sub-text"> Alphabet</div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button fill="clear" routerLink="/ilakkam-liyamu" class="button-solid" style="background-color: #FFC65C">
          <div style="width: 100%" class="main-text"> ඉලක්කම්</div><br/>
          <div style="width: 100%" class="sub-text"> හුරුව</div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button fill="clear" routerLink="/roopa-soyamu" class="button-solid" style="background-color: #00AFD1">
          <div style="width: 100%" class="main-text"> පාට</div><br/>
          <div style="width: 100%" class="sub-text"> කරමු</div>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
<!--  <button ion-button (click)="start()">Say a color</button>-->

<!--  <ion-card>-->
<!--    <ion-card-content>-->
<!--      <ion-card-title>-->
<!--        <button ion-button primary (click)="stopRecord()" *ngIf="recording"><ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</button>-->
<!--        <button ion-button primary (click)="startRecord()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</button>-->
<!--      </ion-card-title>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->
<!--  <ion-list>-->
<!--    <ion-item *ngFor="let audio of audioList; index as i;">-->
<!--      <p>{{audio.filename}}</p>-->
<!--      <button ion-button clear item-end large (click)="playAudio(audio.filename, i)"><ion-icon name="play"></ion-icon></button>-->
<!--    </ion-item>-->
<!--  </ion-list>-->

<!--  <div class="container">-->
<!--    <ion-row class="title">-->
<!--      <ion-col size="1" ></ion-col>-->
<!--      <ion-col size="2" class="counting-numberone">{{number0ne}}</ion-col>-->
<!--      <ion-col size="2" class="counting-numberoperand">{{operand}}</ion-col>-->
<!--      <ion-col size="2" class="counting-numbertwo">{{numbertwo}}</ion-col>-->
<!--      <ion-col size="2" class="counting-numberequal"><span>=</span></ion-col>-->
<!--      <ion-col size="2" class="counting-numberanswer"><span>?</span></ion-col>-->
<!--      <ion-col size="1"></ion-col>-->
<!--    </ion-row>-->
<!--  </div>-->
<!--  <div>-->
<!--    <ion-row>-->
<!--      <ion-col ></ion-col>-->
<!--    </ion-row>-->
<!--  </div>-->

<!--  <section class="container">-->
<!--    <h1 class="title">-->
<!--      <span>Hi, nice</span>-->
<!--      <span>to see</span>-->
<!--      <span>you here</span>-->
<!--    </h1>-->

<!--    <h2 class="title">-->
<!--      <span>This is</span>-->
<!--      <span>a long</span>-->
<!--      <span>sub title</span>-->


<!--    </h2>-->
<!--  </section>-->

<!--  <div class="globe">-->
<!--    <div class="bird">-->
<!--      <div class="body">-->
<!--        <div class="eye left"></div>-->
<!--        <div class="eye right"></div>-->
<!--        <div class="beak"><div></div></div>-->
<!--        <div class="feet"></div>-->
<!--        <div class="wire"></div>-->
<!--      </div>-->
<!--      <div class="hills"></div>-->
<!--      <div class="cloud"></div>-->
<!--      <div class="cloud small"></div>-->
<!--    </div>-->
<!--  </div>-->
</ion-content>
<ion-footer style="background-color: #083e58d6"></ion-footer>

