<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button color="primary" class="ion-color-primary ">
      </ion-back-button>
    </ion-buttons>
    <ion-title  style="color: white">ඉලක්කම් ලියමු  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<div>-->
  <!--  <ion-slides>-->
  <!--    <ion-slide #mySlider>-->
  <!--      <canvas #myCanvas1 (touchstart)="handleStart($event)" (touchmove)="handleMove($event)" (touched)="handleEnd($event)"></canvas>-->
  <!--    </ion-slide>-->
  <!--    <ion-slide>-->
  <!--      <canvas #myCanvas2 (touchstart)="handleStart($event)" (touchmove)="handleMove($event)" (touched)="handleEnd($event)"></canvas>-->
  <!--    </ion-slide>-->
  <!--  </ion-slides>-->
  <!--</div>-->

  <div>
    <ion-row>
      <ion-range snaps="true" ticks="false" color="danger" class="ion-range-bar"  min="2" max="20" [(ngModel)]="lineWidth" (ionChange)="changePenSize()">
        <ion-icon size="small" slot="start" name="brush"></ion-icon>
        <ion-icon slot="end" name="brush"></ion-icon>
      </ion-range>
    </ion-row>
  </div>
  <div style="height: 80%">
    <ion-row>
      <ion-col size="2">
        <ion-col size="2">
          <ion-row *ngFor="let color of colors" class="color-block" tappable
                   (click)="selectColor(color)">
            <div style="width: 100%; display: inline-flex;">
              <div id="pencil" [style.background-color]="color" >
                <div id="top" style="width: 5%"></div>
                <div id="top_border"></div>

              </div>
              <div  class="pencile-top" [style.border-left-color]="color" style="height: 100%"></div>
            </div>
          </ion-row>
        </ion-col>
      </ion-col>
      <ion-col size="10" class="">
<!--        <canvas #myCanvas1 (touchstart)="handleStart($event)" (touchmove)="handleMove($event)" (touched)="handleEnd($event)"></canvas>-->
        <signature-pad id="signature-pad" class="signature-pad-class" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"
                       (window:resize)="resizeSignaturePad()"></signature-pad>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer style="background-color: #083e58d6">
  <ion-row>
    <ion-col size="3">
      <ion-button type="submit" float-left ion-button  fill="clear" class="btnPrev ion-button-class" (click)="prev()" [disabled]="number== 53">Prev</ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button type="submit" float-left ion-button   fill="clear" class="btnPrev ion-button-class-functional" (click)="playMusic()" *ngIf="!play_music">
        <ion-icon name="megaphone"></ion-icon>
      </ion-button>
      <ion-button type="submit" float-left ion-button   fill="clear" class="btnPrev ion-button-class-functional-mute" (click)="stopMusic()" *ngIf="play_music">
        <ion-icon name="volume-off"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col style="text-align: end" size="3">
      <ion-button type="submit" float-right ion-button  fill="clear" class="btnNext ion-button-class-functional" (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col style="text-align: end" size="3">
      <ion-button type="submit" float-right ion-button  fill="clear" class="btnNext ion-button-class" (click)="next()" [disabled]="number==63">Next</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
