.new-background-color{
  --background: #0d5171;
}

.answer-button {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  font-weight: bold;
  color: white;
  --background: #0d5171;
  font-size: 6vw;
}

.button-solid {
  border-radius: 1rem;
}
