<ion-content>
  <ion-grid class="pd-xxxl-7 align-c">
    <div>
      <div slot="end" class="close-btn">
        <ion-icon name="checkmark-outline" (click)="doneModel()" style="color: #0ed85f;"></ion-icon>
        <ion-icon name="close-outline" (click)="closeModel()" style="color: #f33f3f;"></ion-icon>
      </div>
      <ion-row >
        <ion-range snaps="true" ticks="false" color="danger" class="ion-range-bar-eraser"  min="2" max="16" [(ngModel)]="lineWidth" (ionChange)="changePenSize()">
          <img src="assets/eraser1.png" style="width: 26px;" slot="start">
          <img src="assets/eraser1.png" style="width: 26px;" slot="end">
        </ion-range>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
