<ion-header [translucent]="true">
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Blank-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
</ion-header>
<ion-content>
<div class="main-view">
    <div class="w1"></div>
    <div class="w2"></div>
    <div class="w3"></div>
    <div >
        <ion-row class="button-set">
            <ion-col col-md-3>
                <div class="button-item">
                    <ion-button id="sinhala-letters" class="circle a-pulse button-solid" data-animation="alternate" style="--bgc:purple;" routerLink="/white-board">
                        <img id="sinhala-akuru" src="../../assets/sinhala-akuru.png" alt="Nature" class="responsive"/>
                    </ion-button>
                </div>
            </ion-col>
            <ion-col col-md-3>
                <div class="button-item">
                    <ion-button id="english-letters" class="circle a-pulse button-solid" data-animation="alternate" style="--bgc:purple;">
                        <img id="english-akuru" src="../../assets/english-letters.png" alt="Nature" class="responsive"/>
                    </ion-button>
                </div>
            </ion-col>

            <ion-col col-md-3>
                <div class="button-item">
                    <ion-button class="circle a-pulse button-solid" data-animation="alternate" style="--bgc:purple;">
                        <img id="numbers" src="../../assets/bb-removebg-preview.png" alt="Nature" class="responsive"/>
                    </ion-button>
                </div>
            </ion-col>
            <ion-col col-md-3>
                <div class="button-item">
                    <ion-button class="circle a-pulse button-solid" data-animation="alternate" style="--bgc:purple;" (click)="speech()">
                        <img id="kids-games" src="../../assets/icons-removebg-preview.png" alt="Nature" class="responsive"/>
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </div>
</div>
</ion-content>
